.square{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  font-size: 80px;
text-align: center;
}
#gameboard {
  height: 312px; 
  width: 312px; 
  display:flex;
  flex-wrap: wrap;
  text-align: center;

}